$top-index: 1000

.my-text-primary
  color: #0aa89e

.my-text-success
  color: #4caf50

.my-text-lg
  font-size: 125%

.my-text-xl
  font-size: 150%

.my-text-xxl
  font-size: 175%

.my-text-bold
  font-weight: 700

.no-padding
  padding: 0 !important

.no-margin
  margin: 0 !important

body [class*=" md-"], [class^=md-]
  font-size: 1.2em
  margin-top: -0.2em
  margin-bottom: -0.2em

body
  background-color: #e5e6e6
